[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
User=root
WorkingDirectory=/var/lib/kubelet
ExecStart=/usr/bin/kubelet \
  --address=0.0.0.0 \
  --api-servers=https://{{ kube_master }}:443 \
  --cni-conf-dir=/etc/cni/net.d \
  --network-plugin=cni \
  --allow-privileged=true \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --hostname-override={{ hostname }} \
  --cluster_dns={{ dns_service_ip }} \
  --cluster_domain=cluster.local \
  --tls-cert-file=/etc/kubernetes/ssl/worker.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem \
  --client-ca-file=/etc/kubernetes/ssl/ca.pem

Restart=on-failure

[Install]
WantedBy=multi-user.target
